#caracteristicasAnteriores {
	padding: 4px;
	margin: 0px;
}

#etiquetas {
	margin-top: 50px;
}

.col-md-4 {
	color: var(--fuente);
}

.form-group .form-control,
.form-group .col-md-8 textarea {
	resize: none;
	background-color: var(--fondo-textareas);
	color: var(--fuente-textareas);
	border: none;
}

h1,
#TextosAnteriores {
	align-self: center;
	margin: 50px;
	text-decoration: underline;
	color: var(--fuente);
}

#UltimoBoton {
	margin-bottom: 50px;
}
